


.acepted {
    padding: 3vw !important;
    color: orange !important;

}

.rejected {
    padding: 3vw !important;
    color: rgb(255, 0, 0) !important;

}

.undoRechazados {
     padding: 1vw !important;
     color: rgb(255, 0, 0) !important;
 
 }

 .undoAceptados {
     padding: 1vw !important;
     color: rgb(255, 0, 0) !important;
 
 }

 .verDesc {
     padding: 1vw !important;
     color: rgb(0, 132, 255) !important;
 
 }

 #imagenDesc{
     height: 9.375em;
     width: 9.375em;
 }


#Pagina1{
    display: flex;
}

#candidato{
     margin-top: 1%;
     width: 48%;
     border-style: solid;  
     
     height: 45em;  
}
#aceptados{
     margin-top: 1%;
     margin-left: 1%;
     border-style: solid;
     width: 25%;
     overflow: auto;
     height: 45em;
}
#aceptados li {
     -moz-transform: rotate(180deg);
     -webkit-transform: rotate(180deg);
     transform:rotate(180deg);
}

#aceptados ul {
     -moz-transform: rotate(-180deg);
     -webkit-transform: rotate(-180deg);
     transform:rotate(-180deg);
}

#rechazados li {
     -moz-transform: rotate(180deg);
     -webkit-transform: rotate(180deg);
     transform:rotate(180deg);
}

#rechazados ul {
     -moz-transform: rotate(-180deg);
     -webkit-transform: rotate(-180deg);
     transform:rotate(-180deg);
}

#rechazados{
     margin-top: 1% ;
     width: 25%;
     margin-right: 1%;
     border-style: solid;
     overflow: auto;
     height: 45em;
     
 
}

#imagenPC{
     margin-top: 3%;
     height: 25em;
     width: 25em;
}

#imagenPAR{
     margin-top: 5%;
     height: 9.375em;
     width: 9.375em;
}

#nombrePC{

    font:italic;
    font-size: 300%;
}

#titPag1{
    
    font-size: 300%;
    display: flex;
    
}

#titPag2{
     color: red ;
     
}

#subtitPag{
    font-size: 100%;
    width: 31em;
    margin-left: 25%;

}

#parrafoTit{
    margin-top: 10%;
    width: 31em;
    
}

#titPC{
    line-height: 250%;
}

#logo1{
     height: 9.375em;
     margin-top: 5%;
}

#superior{
     display: flex;
     margin-left: 35%; 

}

#perritasSolteras{
     width: 12.5em;
     height: 12.5em;
     margin-top: 5%;
     margin-left: 10%;
}

#superior1{
     display: flex;
     width: 50%;
     height: 12.5em;
     margin-left:none;
     
}

#pagina{
    background-color:white;
}




