
.acepted {
    padding: 3vw !important;
    color: orange !important;

}

.rejected {
    padding: 3vw !important;
    color: rgb(255, 0, 0) !important;

}

.loading {
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;

}

#Pagina1{
    display: flex;
}

#candidato{
     margin-top: 1%;
     width: 48%;
     border-style: solid;    
}
#aceptados{
     margin-top: 1%;
     margin-left: 1%;
     border-style: solid;
     width: 25%;
}

#rechazados{
     margin-top: 1% ;
     width: 25%;
     margin-right: 1%;
     border-style: solid;
}

#imagenPC{
     margin-top: 3%;
     height: 400px;
     width: 400px;
}

#imagenPAR{
     margin-top: 5%;
     height: 150px;
     width: 150px;
}

#nombrePC{

    font:italic;
    font-size: 300%;
}

#titPag1{
    
    font-size: 300%;
    display: flex;
    
}

#titPag2{
     color: red ;
     
}

#subtitPag{
    font-size: 100%;
}

#parrafoTit{
    margin-top: 10%;
}

#titPC{
    line-height: 250%;
}

#logo1{
     height: 150px;
     margin-top: 5%;
}

#superior{
     display: flex;
     margin-left: 35%; 
}

#perritasSolteras{
     width: 200px;
     height: 200px;
     margin-top: 5%;
     margin-left: 10%;
}

#superior1{
     display: flex;
     width: 50%;
     height: 200px;
     margin-left:none;
}

#pagina{
    background-color:white;
}